

<div class="container" style="margin-left: 300px; margin-top: 100px;">

<div class="card"  style="width:800px;">
<div class="card-header text-center"><h3>CALCULATOR</h3></div> 
<div class="card-body">
  <div class="form-group d-flex flex-row">
  <input [(ngModel)]='num1' type="number" class="form-control">
  <input [(ngModel)]="num2" type="number" name="num2" class="form-control">
  </div>
  <div>

  <div class="d-flex flex-row justify-content-between">
    <button (click)="Addition()" class="btn btn-primary">Addition</button>
    <button (click)="Subtraction()" class="btn btn-danger">Subtraction</button>
    <button (click)="Multification()" class="btn btn-dark">Multification</button>
    <button (click)="Division()" class="btn btn-primary">Division</button>
    
    </div>
</div>
<div class="card-footer">
<h4>The Result of {{num1}} and {{num2}} is ={{result}}</h4>

</div>
</div>
